<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Vit'Fée - Bien manger</title>
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Font Awesome icons -->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS -->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Bien manger, c'est...</span>
                <span class="site-heading-lower">Vit'Fée</span>
            </h1>
        </header>
        <!-- Navigation-->
        
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    
                    
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/accueil">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="profil.html">Profil</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="abonnement.html">Abonnement</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="Index.html">Se connecter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        



                <section class="page-section cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 mx-auto">
                                <div class="cta-inner bg-faded text-center rounded">
                     
                          <!-- Bouton planifier--> 
         
          <div class="col-sm-2">
            <div class="card">
              <div class="card-body">
                <form action="/plat">
                    <button class="btn btn-secondary" type="submit">Planifier</button>
                 </form>
              </div>
            </div>
          </div>
          <p>  </p>
        <!-- Formulaire de recettes-->  

        <div id="grille" class="row" >
            
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Heure</th> 
                                                <th scope="col">Lundi</th>
                                                
                                                <th scope="col">Mardi</th>
                                                <th scope="col">Mercredi</th>
                                                
                                                <th scope="col">Jeudi</th>
                                                <th scope="col">Vendredi</th>
                                                
                                                <th scope="col">Samedi</th>
                                                <th scope="col">Dimanche</th>
                                               
                                              </tr>
                                              
                                            </thead>
                                                
                                            
                                           
                                            <tbody>
                                              <tr>
                                               
                                                <tr>
                                                    <th scope="row">Midi</th>
                                                    {%for i in range(0, len-7)%}   
                                                   
                                                                      
                                                    <td> <a href="{{url_for('displayRecipe', id = data[i].get('id_recette'))}}"> {{data[i].get('nom_recette')}}</a></td>
                                                                                          
                                                     
                                                     {% endfor %} 
                                                
                                            </tr>
                                            <tr>
                                                <th scope="row">Soir</th>
                                                {%for i in range(len-7, len)%}   

                                                <td> <a href="{{url_for('displayRecipe', id = data[i].get('id_recette'))}}">{{data[i].get('nom_recette')}}</a></td>
                                                                               
                                                     
                                                     {% endfor %} 
                                                
                                             
                                    
                                            </tr> 
                                              </tr>
                                              
                                            </tbody>
                                           
                                          </table>
             
            
            
            </div>
            </div>
            </div>
            
            </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                

       
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Vit'Fée 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
